tensorflow-cpu
mkdocs
mkdocs-material
pymdown-extensions
mknotebooks
mkdocs-minify-plugin
mkdocs-exclude
mkdocs-redirects
altair
pandas
keras-autodoc

larq==0.10.1
larq-zoo==2.0.0
larq-compute-engine==0.4.3
