tensorflow-cpu
mkdocs
mkdocs-material
pymdown-extensions
mknotebooks==0.5.0
markdown~=3.2.2 # pinned due to mknotebooks
traitlets~=4.3 # 5.x is not compatible with our build env
mkdocs-minify-plugin
mkdocs-exclude
mkdocs-redirects
altair
pandas
keras-autodoc

larq
larq-zoo
larq-compute-engine
