tensorflow==2.1.0
tensorflow_datasets==3.0.0
Pillow==7.1.1
matplotlib==3.2.1
larq==0.9.4
mkdocs==1.1
mkdocs-material==5.1.1
pymdown-extensions==7.0
mknotebooks==0.3.6
mkdocs-minify-plugin==0.3.0
larq-zoo==1.0b4
altair==4.1.0
pandas==1.0.3
larq-compute-engine==0.2.0
git+https://github.com/lgeiger/pydoc-markdown.git
