tensorflow-cpu==2.3.0
tensorflow_metadata==0.24.0  # Pinned due to https://github.com/tensorflow/metadata/pull/10
mkdocs==1.1.2
mkdocs-material==5.5.12
pymdown-extensions==8.0
mknotebooks==0.4.0
mkdocs-minify-plugin==0.3.0
mkdocs-exclude==1.0.2
altair==4.1.0
pandas==1.1.2
keras-autodoc==0.5.1

larq==0.10.0
larq-zoo==1.0.5
larq-compute-engine==0.4.0
