tensorflow-cpu
mkdocs
mkdocs-material==6.2.8
pymdown-extensions
mknotebooks==0.8.0.post0.dev1
mkdocs-minify-plugin
mkdocs-exclude
mkdocs-redirects
altair
pandas
keras-autodoc
sphinx~=7.1.2 # pinned due to keras-autodoc

larq
larq-zoo
larq-compute-engine
