tensorflow==2.2.0
tensorflow_datasets==3.1.0
Pillow==7.1.2
matplotlib==3.2.1
mkdocs==1.1.1
mkdocs-material==5.1.6
pymdown-extensions==7.1
git+git://github.com/lgeiger/mknotebooks@text-output-code
mkdocs-minify-plugin==0.3.0
altair==4.1.0
pandas==1.0.3

larq==0.9.5
git+git://github.com/larq/zoo@master
larq-compute-engine==0.3.0

# Our changes got merged, but not yet released. We can change this back to a non-git
# requirement when a version > v0.4.1 is out on PyPI.
git+git://github.com/keras-team/keras-autodoc@cba48a93e9dabd3b9917d1efbc7bc0bf3e66e3d1
