:root {
  --larq-green: #7DFB9A;
  --larq-green-darker: #5FBF75;
  --larq-green-darkest: hsl(131.9, 76.6%, 28.4%);
  --larq-blue: #0A1D3C;
  --md-default-fg-color: #0a1d3c;
  --md-default-fg-color--light: #0a1d3c99;
  --md-default-fg-color--lightest: #0a1d3c14;
  --md-accent-fg-color: var(--larq-green-darker);
}

[data-md-color-primary=white] {
  --md-typeset-a-color: var(--larq-green-darkest);
}

[data-md-color-scheme=slate] {
  --md-primary-fg-color: var(--larq-green-darker);
  --md-default-fg-color--lightest: hsla(0, 0%, 100%, 0.7);
  --md-typeset-a-color: var(--larq-green-darker);
  --md-accent-fg-color: var(--larq-green-darkest);
  --md-default-fg-color--light: hsla(0, 0%, 100%, 0.9);
}

.md-footer {
  --md-footer-bg-color: #0a1d3c;
}

h3 {
  margin-top: -10px !important;
  padding-top: 8px !important;
}

.md-nav__title .md-nav__button.md-logo img, .md-header-nav__button.md-logo img {
  width: unset;
}

.md-nav--primary .md-nav__title[for="__drawer"] .md-nav__button {
  top: 1.6rem;
}

.md-header-nav__tabs {
  flex-grow: 1;
}

.md-header .md-tabs {
  border-bottom: none;
  display: block;
  background-color: inherit;
  color: inherit;
}

.md-typeset .tabbed-set>input:checked+label {
  color: var(--larq-green-darker);
}

.model-summary {
  overflow: scroll;
  max-height: 20rem;
}

.notebook-badge {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  color: var(--md-typeset-color);
  padding: 0.45em 1.05em;
  border-radius: 2px;
  cursor: pointer;
}

.code-link::before {
  content: "</>";
}

.md-typeset .code-link {
  opacity: 1;
  visibility: visible;
}

.md-typeset a.netron-link {
  color: var(--md-default-fg-color);
  font-weight: 700;
  line-height: 1em;
}

.input code {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input pre {
  margin-bottom: 0;
}

.output code {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: unset;
  border: 1px solid var(--md-code-bg-color);
  border-top: none;
  max-height: 20rem;
}

.output pre {
  margin-top: 0;
  display: grid;
}